.cartEmpty {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.modal {
    display: flex;
    background-color: black;
    opacity: 0.9;
}