.cartEmpty {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.modalBg {
    position: fixed;
    top: 0;
    left: 0;
}

.modal{

}