.cartEmpty {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.modalBg {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalForm{
    position: relative;
    background-color: white;
    width: 30%;
    height: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 12px;
    background-color: #212529;
}

.formText{
    color: white;
}

.closeButton{
    position: absolute;
    top: 10px;
}

@media screen and (max-width: 600px) {
    .modalForm{
        width: 70%;
    }
}