.Container{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #120212;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader{
    width: 100px;
    height: 100px;
    border: solid 5px rgb(165, 115, 21);
    border-top: solid 5px orange;
    border-radius: 50%;
    animation: loader .8s linear infinite;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.message{
    color: #7cd6ec;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}